/* ItemCard Styles */

.ItemCard {
  flex-grow: 1;
  text-decoration: none;
}

.ItemCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
}

.ItemCard-img {
  width: 80px;
}

.ItemCard-title {
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}

.ItemCard p {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

/* DashBoard Styles */

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  height: 80vh;
  width: 100%;
  scroll-behavior: auto;
  overflow-y: auto;
  max-height: 80vh;
  background-color: rgb(248, 248, 248);
}

.dashboard div {
  padding: 10px 0;
  width: 100%;
}

.main-content {
  display: flex;
  height: 80vh;
}

/* PageNotFound Styles */
.pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.pageNotFound img {
  margin: 20px auto;
  width: 500px;
}

.pageNotFound img {
  margin: 20px auto;
  width: 500px;
}

.pageNotFound button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pageNotFound button:hover {
  background-color: rgb(196, 3, 196);
}


/* AboutPage Styles */
.aboutPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.aboutPanel h2 {
  margin: 20px auto;
}

.aboutPanel p {
  width: 70%;
  text-align: center;
}

.developer_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.developer_profile img {
  width: 200px;
  margin: 50px auto 20px auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 2));
}

.developer_profile li {
  list-style: none;
  margin: 20px auto;
}

.developer_profile i {
  margin: auto 5px;
}

.developer_profile li a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

/* ItemDetailsPage Styles */
.ItemsDetails-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 80vh;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.ItemsDetails-image {
  width: 300px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 2));
}

.ItemsDetails-title {
  font-size: 1.5rem;
  margin: 20px;
}

.ItemsDetails-description {
  font-size: 1.5rem;
  margin: 20px;
  text-align: justify;
}

.details-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.details-info p {
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3rem;
}

.details-info span {
  font-weight: bold;
}

.ItemsDetails-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.ItemsDetails-info {
  display: flex;
  flex-direction: column;
  margin: auto;
}


/* Forms Styles */
.form-container {
  margin: auto;
}

form {
  margin: auto;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-image {
  display: block;
  margin: 0 auto 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

form label {
  display: flex;
  flex-direction: column;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

form button {
  display: flex;
  margin: 30px auto 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(196, 3, 196);
}

.form-image {
  width: 100px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 2));
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: purple;
  border: none;
  color: white;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: rgb(196, 3, 196);
}

.listHeader {
  display: flex;
  position: relative;
  justify-content: space-around;
  background-color: purple;
  color: white;
  margin-bottom: 20px;
}

.listHeader p {
  font-size: 1.2rem;
  font-weight: bold;
}

.editButton {
  padding: 10px;
  background-color: purple;
  color: white;
  border-radius: 20px;
  border: none;
  width: 100px;
  font-size: 1.2rem;
  margin: 20px auto 0;
}

.editButton:hover {
  cursor: pointer;
  background-color: rgb(196, 3, 196);
}