* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: purple;
  color: white;
}

nav p {
  margin: 0 20px
}

.menu-container,
.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.logo-container img {
  width: 80px;
}

aside {
  width: 200px;
  height: 81vh;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0 5px -2px rgba(136, 136, 136, 0.5);
}

.list-link {
  list-style: none;
}

.list-link li {
  margin: 20px auto;
  padding-bottom: 10px;
  width: 80%;
  box-shadow: 0 1px 0 0 rgba(136, 136, 136, 0.5); 
}

.list-link li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: purple;
  height: 4vh;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

footer i {
  margin-right: 10px;
}