* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: purple;
  color: white;
  height: 12vh;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ItemCard {
  flex-grow: 1; /* Ocupa el resto del espacio disponible */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.deleteButton-container {
  flex-shrink: 0; /* Ocupa solo el espacio necesario para el botón */
}
nav p {
  margin: 0 20px
}

.menu-container,
.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.logo-container img {
  width: 100px;
}

aside {
  width: 20%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0 5px -2px rgba(136, 136, 136, 0.5);
  z-index: 1;
}

.list-link {
  list-style: none;
}

.list-link li {
  margin: 20px auto;
  padding-bottom: 10px;
  width: 80%;
  box-shadow: 0 1px 0 0 rgba(136, 136, 136, 0.5);
}

.list-link li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  height: 8vh;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  margin: auto;
}

footer i {
  margin-right: 10px;
}


.ItemCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 3px black;
  padding: 10px;
}

.ItemCard-img {
  width: 80px;
}

.ItemCard-title{
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
}

.ItemCard p {
  font-size: 1.1rem;
  text-decoration: none;
    color: black;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  height: 80vh;
  width: 100%;
  scroll-behavior: auto;
  overflow-y: auto;
  max-height: 80vh;
  background-color: rgb(248, 248, 248);
}

.dashboard div {
  padding: 10px 0;
  width: 100%;
}

.main-content {
  display: flex;
  height: 80vh;
}

.pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.pageNotFound img {
  margin: 20px auto;
  width: 500px;
}

.pageNotFound img {
  margin: 20px auto;
  width: 500px;
}

.pageNotFound button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pageNotFound button:hover {
  background-color: rgb(196, 3, 196);
}

.aboutPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.aboutPanel h2 {
  margin: 20px auto;
}

.aboutPanel p {
  width: 70%;
  text-align: center;
}

.developer_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.developer_profile img {
  width: 200px;
  margin: 50px auto 20px auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 2));
}

.developer_profile li {
  list-style: none;
  margin: 20px auto;
}

.developer_profile i {
  margin: auto 5px;
}

.developer_profile li a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.ItemsDetails-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 80vh;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.ItemsDetails-image {
  width: 300px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 2));
}

.ItemsDetails-title {
  font-size: 1.5rem;
  margin: 20px;
}

.ItemsDetails-description {
  font-size: 1.5rem;
  margin: 20px;
  text-align: justify;
}

.details-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  width: 100%;
}

.details-info p {
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  font-size: 1.3rem;
}

.details-info span {
  font-weight: bold;
}

.ItemsDetails-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.ItemsDetails-info {
  display: flex;
  flex-direction: column;
  margin: auto;
}


/* Form Styles */
.form-container {
  margin: auto;
}

form {
  margin: auto;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-image {
  display: block;
  margin: 0 auto 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

form label {
  display: flex;
  flex-direction: column;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

form button {
  display: flex;
  margin: 30px auto 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(196, 3, 196);
}

.form-image {
  width: 100px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 2));
}

.deleteButton {
  padding: 15px;
}